.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 2px solid gray;
}
.label {
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding: 25px 0px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 12%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 6%);
}

.title {
  margin-bottom: 15px;
}
